@model IEnumerable<EventQueryResult>

@{
    ViewData["DayEvents"] = "Events for the day";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 div-calendar">
            <div class="container-calendar border-right-2">
                <div class="header-calendar">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <button class="btn btn-primary">
                                <span class="fas fa-arrow-left"></span>
                            </button>
                        </div>
                        <div class="col-md-8 text-center">
                            <span>June</span>
                        </div>
                        <div class="col-md-2 d-flex flex-row justify-content-end">
                            <button class="btn btn-primary">
                                <span class="fas fa-arrow-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-calendar">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Sunday</th>
                                <th scope="col">Monday</th>
                                <th scope="col">Tuesday</th>
                                <th scope="col">Wednesday</th>
                                <th scope="col">Thursday</th>
                                <th scope="col">Friday</th>
                                <th scope="col">Saturday</th>
                            </tr>
                        </thead>
                        <tbody id="calendarDays">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>@ViewData["DayEvents"]</h2>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Date
                                </th>
                                <th scope="col">
                                    Title
                                </th>
                                <th scope="col">
                                    Location
                                </th>
                            </tr>
                        </thead>
                        <tbody id="eventsDay">
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @(item.StartDate.ToShortDateString())
                                        </td>
                                        <td>
                                            @(item.Title)
                                        </td>
                                        <td>
                                            @(item.Location)
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">
                                        <p>No events were found for this day.</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .div-calendar {
        border-right: 1px solid;
    }

    .container-calendar {
        background-color: #c5c7c6;
        border: 1px solid;
        color: #fff;
    }

    .header-calendar {
        padding: 10px;
        font-size: 26px;
        border-bottom: 1px solid;
    }

    .content-calendar {
        text-align: center;
    }
    .selected {
        background-color: #479ad6 !important;
    }
</style>

@section scripts
{
<script type="text/javascript">

    const calendarDays = document.getElementById('calendarDays');

    $(document).ready(function(){
        var innerHtml = "";
        const newDate = new Date();
        const firstDay = new Date(newDate.getFullYear(), newDate.getMonth(), 1);
        const initialWeekDay = firstDay.getDay();
        const daysInMonth = new Date(newDate.getFullYear(), newDate.getMonth()+1, 0).getDate();
        const day = firstDay;

        innerHtml += "<tr>";
        for(let i = 0; i < initialWeekDay + daysInMonth; i++) {
           if(i >= initialWeekDay){
               if(i % 7 == 0){
                   innerHtml += "</tr><tr>";
               }
                innerHtml += "<td class='scheduleDay' id='" + (day.getMonth() + 1) + "/" + day.getDate() + "/" + day.getFullYear() +"'>" + day.getDate() +"</td>";
                day.setDate(day.getDate() + 1);
           }else{
                innerHtml += "<td></td>";
           }
        }

        calendarDays.innerHTML = innerHtml;
        console.log('Ready disparado');

        $(".scheduleDay").on("click", function() {
            $(".scheduleDay").removeClass('selected');
            $(this).addClass('selected');
            var dt = $(this).attr("id");
            $.ajax({
                url: './Get',
                cache: false,
                data: {
                    date: dt
                }
            }).done(function(data) {
                $("#eventsDay").html("");
                var innerHtml = "";
                if(data.length > 0){
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        innerHtml += "<tr>";
                        innerHtml += "<td>" + new Date(item.startDate).toLocaleDateString("en-US") + "</td>";
                        innerHtml += "<td>" + item.title + "</td>";
                        innerHtml += "<td>" + item.location + "</td>";
                        innerHtml += "</tr>";
                    }
                }
                else{
                    innerHtml += "<tr><td colspan='3'><p>No events were found for this day.</p></td></tr>";
                }
                $("#eventsDay").html(innerHtml);
            });
        });
     });
</script>
}
